.date {
  text-align: right;
}

nav {
  position: relative;
}

.nav-button {
  display: inline-block;
}

.nav-posts {
  position: absolute;
  right: 0;
  top: 0;
}

.highlighted {
  color: #CF0000 !important;
}


ul.posts {
  list-style-type: none;
  padding-left: 1em;
}
ul.posts .post-date {
  float: left;
  left: 1em;
  min-width: 4em;
}
